#sideImg {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.514);
  transition: all 150ms ease;
}

#sideImg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: #3741516b;
}

#sideImg:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.514);
}
